body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 200px;
}

span {
    font-size: 16px;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

button#themeToggle {
    background-color: #f0f0f0;
    color: #333;
}

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode button#themeToggle {
    background-color: #333;
    color: #f0f0f0;
}

.switch-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.switch-group label {
    margin-right: 10px;
    font-size: 16px;
}

.switch-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
